<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Forum</servlet-name>
        <servlet-class>Controllers.Forum.Forum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>Controllers.Forum.Post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPost</servlet-name>
        <servlet-class>Controllers.Forum.NewPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OneTopic</servlet-name>
        <servlet-class>Controllers.Forum.OneTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPost</servlet-name>
        <servlet-class>Controllers.Forum.SearchPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>Controllers.Forum.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Practice</servlet-name>
        <servlet-class>Controllers.Practice.Practice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminForum</servlet-name>
        <servlet-class>Controllers.Forum.AdminForum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportPost</servlet-name>
        <servlet-class>Controllers.Forum.ReportPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportComment</servlet-name>
        <servlet-class>Controllers.Forum.ReportComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Topic</servlet-name>
        <servlet-class>Controllers.Forum.Topic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisablePost</servlet-name>
        <servlet-class>Controllers.Forum.DisablePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableComment</servlet-name>
        <servlet-class>Controllers.Forum.DisableComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableTopic</servlet-name>
        <servlet-class>Controllers.Forum.DisableTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTopic</servlet-name>
        <servlet-class>Controllers.Forum.NewTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteComment</servlet-name>
        <servlet-class>Controllers.Forum.DeleteComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>Controllers.Forum.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTopic</servlet-name>
        <servlet-class>Controllers.Forum.DeleteTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTopic</servlet-name>
        <servlet-class>Controllers.Forum.EditTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreComment</servlet-name>
        <servlet-class>Controllers.Forum.RestoreComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestorePost</servlet-name>
        <servlet-class>Controllers.Forum.RestorePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreTopic</servlet-name>
        <servlet-class>Controllers.Forum.RestoreTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitImage</servlet-name>
        <servlet-class>Controllers.Practice.SubmitImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteForumNotification</servlet-name>
        <servlet-class>Controllers.Forum.DeleteForumNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNotification</servlet-name>
        <servlet-class>Controllers.Notification.AddNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleNotificationVisibility</servlet-name>
        <servlet-class>Controllers.Notification.ToggleNotificationVisibility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNotification</servlet-name>
        <servlet-class>Controllers.Notification.DeleteNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNotification</servlet-name>
        <servlet-class>Controllers.Notification.EditNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>Controllers.Notification.NotificationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Forum</servlet-name>
        <url-pattern>/Forum/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/Post/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPost</servlet-name>
        <url-pattern>/NewPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OneTopic</servlet-name>
        <url-pattern>/OneTopic/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPost</servlet-name>
        <url-pattern>/SearchPost/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Practice</servlet-name>
        <url-pattern>/Practice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminForum</servlet-name>
        <url-pattern>/AdminForum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportPost</servlet-name>
        <url-pattern>/ReportPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportComment</servlet-name>
        <url-pattern>/ReportComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Topic</servlet-name>
        <url-pattern>/Topic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisablePost</servlet-name>
        <url-pattern>/DisablePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableComment</servlet-name>
        <url-pattern>/DisableComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableTopic</servlet-name>
        <url-pattern>/DisableTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTopic</servlet-name>
        <url-pattern>/NewTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteComment</servlet-name>
        <url-pattern>/DeleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTopic</servlet-name>
        <url-pattern>/DeleteTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTopic</servlet-name>
        <url-pattern>/EditTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreComment</servlet-name>
        <url-pattern>/RestoreComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestorePost</servlet-name>
        <url-pattern>/RestorePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreTopic</servlet-name>
        <url-pattern>/RestoreTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitImage</servlet-name>
        <url-pattern>/SubmitImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteForumNotification</servlet-name>
        <url-pattern>/DeleteForumNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNotification</servlet-name>
        <url-pattern>/AddNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleNotificationVisibility</servlet-name>
        <url-pattern>/ToggleNotificationVisibility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNotification</servlet-name>
        <url-pattern>/DeleteNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNotification</servlet-name>
        <url-pattern>/EditNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/NotificationController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000
        </session-timeout>
    </session-config>
</web-app>
